@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Navbar Component */
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
  max-height: 10vh;
  color: rgb(243, 243, 243);
  background-color: #0061a8;
}
.navContainer button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: #fbe0c4;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.navContainer > .divCta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .div_speed .divCta .div_speed {
  display: flex;
  align-items: center;
} */

.navContainer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navContainer ul li {
  margin: 0rem 1.5rem;
}

.navContainer ul li > button {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(243, 243, 243);
  cursor: pointer;
}

/* Visualizer */

.visualizerContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 80vh;
}
